body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}





.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}



 /* Style buttons */

.header-buttons{
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 250px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.header-buttons{
  
  color: #fff;
  margin-right: 15px;
  border: 1px solid #fff; 

}
.header-buttons{
  color: #fff!important;
  font-weight: bold;
}

.header-buttons:hover{
  background-color: #fff;
}


.header:before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: .3; 
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%) ;
}









.w3hubs-footer{
  width: 100%;
  height: auto;
  margin: auto;
  background:#272727;
  padding: 20px 0px;
  
}
.w3hubs-icon{
  width: 100%;
  height: auto;
  margin: auto;
}
.w3hubs-icon ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.w3hubs-icon ul li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 10px;
  border-radius: 100%;
  background:#7DCEA0; 
}
.w3hubs-icon ul li a{
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}
.w3hubs-icon ul li a i{
  line-height: 50px;
}
.w3hubs-icon ul li:hover{
  background: #e67e22;
}
.w3hubs-icon ul li a:hover >i{
  transform: scale(1.6) rotate(25deg);
}
.w3hubs-nav{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}
.w3hubs-nav ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.w3hubs-nav ul li{
  display: inline-block;
  margin: 10px 20px;   
}
.w3hubs-nav ul li a{
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.w3hubs-nav ul li a:hover{
  color:  #e67e22;
}

.w3hubs-nav1{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.w3hubs-nav1 ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.w3hubs-nav1 ul li{
  display: inline-block;
  margin: 0px 20px;  
}
.w3hubs-nav1 ul li a{
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.w3hubs-nav1 ul li a:hover{
  color:  #e67e22;
}
.w3hubs-nav2{
  width: 100%;
  height: auto;
  margin: auto;
}
.w3hubs-nav2 ul{
  
  text-align: center;
}

.w3hubs-nav2 ul li{
  
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background:#fff; 
}
.w3hubs-nav2 ul li a{
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}
.w3hubs-nav2 ul li a i{
  line-height: 50px;
}
.w3hubs-nav2 ul li:hover{
  background: #e67e22;
}
.w3hubs-nav2 ul li a:hover >i{
  transform: scale(1.6) rotate(180deg);
}
.footer-end{
  width: 100%;
  height: auto;
  margin: auto;
  background: #e8491d;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
}
.footer-end p{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;

}
.footer-end a{

text-decoration: none;
color: #fff
}
.footer-end a:hover{
  color:  #e67e22;
}

@media(max-width:691px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
  font-size: 16px;
}
}
@media(max-width:604px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
  font-size: 14px;
}
.w3hubs-nav ul li{
  padding: 0px ;
}
}
@media(max-width:559px ){

.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
  font-size: 13px;
}

}
@media(max-width:539px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
  font-size: 11px;
}
.w3hubs-nav ul li{
  margin: 5px 20px;
}
.w3hubs-nav ul li.p1 {
    padding-top: 10px;
}
}
@media(max-width:380px ){
  .w3hubs-nav ul li,.w3hubs-nav1 ul li{
    display: block;
    padding: 5px;
  }
.w3hubs-nav2 ul li{
  display: none;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
  font-size: 20px;
}
.w3hubs-icon ul li{
width: 40px;
    height: 40px;
}
}
@media(max-width: 375px){
  .w3hubs-nav ul li.p1 {
    padding-top: 0px;
}
}





